@import '../node_modules/antd/dist/antd.less';

@primary-color: rgb(255, 214, 75);
@btn-text-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
@layout-header-background: #fff;

.btn-default {
  font-weight: bold;
}
