#__next {
  min-height: 100%;
}

.app-logo {
  float: left;
  color: white;
  font-weight: bold;
  margin-right: 2em;
  font-size: 1.5em;
}

.main-content {
  padding: 24px;
  margin: 0;
  background-color: #fff;
}

.ant-layout.layout {
  min-height: 100vh;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(255, 214, 75);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px rgb(255, 214, 75), 0 0 5px rgb(255, 214, 75);
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: rgb(255, 214, 75);
  border-left-color: rgb(255, 214, 75);
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

.nprogress-busy .main-content {
  opacity: 0.45;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lemonade-field-label {
  margin-top: 8px;
  color: rgb(120, 120, 120);
}

.lemonade-field-label.required::after {
  content: '*';
  color: red;
  margin-left: 4px;
}

.Payslip {
  text-align: center;
  background-color: #10ac84;
  width: 800px;
  height: 600px;
}

.Payslip .Payslip-header-background {
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  padding: 15px;
}

.Payslip .Payslip-body-background {
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.Payslip .Payslip-header {
  background-color: white;
  height: 50px;
}

.Payslip .Payslip-details {
  background-color: white;
  height: 10px;
}

.Payslip .Payslip-header-text {
  font-size: 21px;
  text-align: left;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #716b6b;
}

.Payslip .Payslip-div {
  width: 760px;
  border: #10ac84 solid 1px;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 1px #fff inset;
}

.Payslip .Payslip-button {
  width: 760px;
  padding-left: 600px;
  padding-bottom: 15px;
}

.Payslip label {
  font-size: 12px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #979797;
}

.Payslip .label-head {
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #10ac84;
}

.Payslip .label-head-amount {
  font-size: 14px;
  text-align: right;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #10ac84;
}

.Payslip .label-head2 {
  font-size: 21px;
  text-align: left;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #10ac84;
}

.Payslip .label-head2-amount {
  font-size: 21px;
  text-align: right;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #10ac84;
}

.Payslip .label-value {
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #555555;
}

.Payslip .label-value2 {
  padding-left: 10px;
  font-size: 12px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #555555;
}

.Payslip .label-value2-amount {
  padding-left: 10px;
  font-size: 12px;
  text-align: right;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #555555;
}

.Payslip .table-td-details {
  padding: 15px;
}

.Payslip .table-td-div {
  border-left: 1px solid #10ac84;
  height: 285px;
  left: 400px;
  margin-left: -3px;
  top: 0;
}

.Payslip td {
  text-align: left;
}

.Payslip tr {
  vertical-align: text-top;
  height: 10px;
}
